<h1>Our Global Food Favourites</h1>

{{#if user }}
    <a href="/foods/add">Add a New Food</a>
{{/if}}

<table class="table table-striped table-hover">
    <thead>
    <th>Name</th>
    <th>Country</th>
    {{#if user}}
        <th> </th>
    {{/if}}
    </thead>
    {{#each foods}}
        <tr>
            <td>
                <!-- we are inside the foods loop so we need to prefix the top-level "user" variable with ../ -->
                {{#if ../user }}
                    <a href="/foods/edit/{{this._id}}">{{this.name}}</a>
                {{else}}
                    {{this.name}}
                {{/if}}
            </td>
            <td>{{this.country}}</td>
            {{#if ../user }}
                <td>
                    <a href="/foods/delete/{{this._id}}" class="text-danger" onclick="return confirmDelete();">Delete</a>
                </td>
            {{/if}}
        </tr>
    {{/each}}
</table>